 # Author: C-Kuzy
 # Description: Defining use of my '.gitattributes' file
 #
 #       This defines all attributes for Git/Github behavior, including:
 #
        #1. - Scanning imported documents in this repository for HTML files and written code
        #2. - Ignoring the 'existence' of files using 'programming language(s)' undefined from the current project
        #3. - Ensuring no overlap of existing code files for seamless repository organization
        #4. - Template for other customzied repositories
 #       
 #
 # Applying Necessary Programming Language Ignores for the current Repository
 # Current Repository: C-Kuzy/Custom-Coming-Soon
 # CURRENT ACTIVE FILE REFERENCE

 "Files This Repository Wants to detect:"
  *.html linguist-detectable=true
  *.css linguist-detectable=true
  *.js linguist-detectable=true

 "Files This Repository is Restricing:"
  *.py linguist-detectable=false
  *.java linguist-detectable=false
  *.c linguist-detectable=false
  *.c++ linguist-detectable=false
  *.m linguist-detectable=false
  *.s linguist-detectable=false
  *.go linguist-detectable=false
  *.txt linguist-detectable=false
  *.rtf linguist-detectable=false
  *.msg linguist-detectable=false
  *.xls linguist-detectable=false
  *.ipynb linguist-detectable=false
  *.xlsx linguist-detectable=false
  *.pdf linguist-detectable=false
  *.svg linguist-detectable=false
  *.jpg linguist-detectable=false
  *.jpeg linguist-detectable=false
  *.gif linguist-detectable=false